.custom-radio {
    position: relative;
    width: 100%;
}

.custom-radio--error .custom-radio__label::before {
    border-color: #F6514B;
}

.custom-radio__field:checked+.custom-radio__label::after {
    display: block;
}

.custom-radio__field:checked+.custom-radio__label::before {
    background-color: #476BF0;
}

.custom-radio__label {
    width: 100%;
    cursor: pointer;
    padding: 0 0 0 30px;
}

.custom-radio__label:hover::before {
    border-color: #3356D7;
}

.custom-radio__label:focus-visible::before {
    border-color: #A0B4FF;
}

.custom-radio__label::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #CDCFDE;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.custom-radio__label::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.custom-radio__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #1E222E;
}