.form-info {
    width: 500px;
    min-height: 284px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
}

.form-info__title-info {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #1E222E;
}

.form-info__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form-info__item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
}

.form-info__number {
    width: 40px;
    height: 40px;
    padding: 9px 15px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #4F6AE8;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.form-info__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #1E222E;
}

.form-info__item--secondary {
    align-items: center;
}