.order-form {
    margin: auto;
    width: 450px;
    padding: 76px 0 90px 0;
}

.order-form__wrapper {
    width: 450px;
    min-height: 416px;
    border-radius: 20px;
    border: none;
    background-color: #FFFFFF;
    padding: 0;
    position: relative;
    margin: 0 auto 32px auto;
}

.order-form__info {
    padding: 32px;
}

.order-form__h1 {
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #1E222E;
    padding: 0;
    margin: 0 auto 28px;
    text-align: center;
}

.order-form__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 0 24px 0;
    padding: 0;
    list-style-type: none;
}

.order-form__forgot {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #1E222E;
    display: block;
    padding: 0;
    margin: 0 auto;
}

.order-form__forgot:hover {
    color: #3356D7;
}

.order-form__login-using {
    display: flex;
    flex-direction: row;
    gap: 8px;
    background: linear-gradient(90deg, #F5F6FA 0%, #F7F1F7 51.5%, #F5F7FD 100%);
    width: 450px;
    height: 80px;
    margin: auto 0 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
    align-items: center;
}

.order-form__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #7E7D87;
}

.order-form__login-link {
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
    align-items: center;
}

.order-form__text-gpb {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #7E7D87;
    text-transform: uppercase;
}

.order-form__register {
    width: 162px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #476BF0;
    text-align: center;
    margin: 0 auto;
}

.order-form__register-entrance {
    width: 219px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #476BF0;
    text-align: center;
    margin: 0 auto;
}

.order-form__register:hover {
    color: #3356D7;
}

.order-form--problems {
    padding: 156px 0 184px 0;
}

.order-form--registration {
    padding: 0;
    margin: 0;
}

.order-form__problems-logging {
    width: 450px;
    height: 316px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.order-form__problems-info {
    padding: 32px 32px 28px 32px;
}

.order-form__problems-h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #1E222E;
    margin: 2px 0 32px 0;
}

.order-form__problens-inner {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #CDCFDE80;
    border-radius: 12px;
    width: 386px;
    min-height: 116px;
    padding: 28px 32px;
}