.registration-page {
    width: 100%;
    min-height: 712px;
    display: flex;
    gap: 80px;
    flex-direction: row;
    padding: 14px 177px 40px 177px;
}

.registration-page__left {
    width: 450px;
    height: 712px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: none;
    padding: 32px;
    margin: 0 0 32px 0;
}

.registration-page__title-info {
    margin: 0 0 28px 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #1E222E;
    text-align: center;
}

.registration-page__inner-reg {
    width: 386px;
    padding: 0;
    margin: 0 0 20px 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 188px 188px;
    gap: 20px 10px;
}

.registration-page__block {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 0 20px 0;
}

.registration-page__code {
    width: 386px;
    margin: 0 0 24px 0;
}

.registration-page__code-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 8px 0;
}

.registration-page__skartinka-code {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8F939F;
}

.registration-page__icon-update {
    color: #8F939F;
}

.registration-page__form-code {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0;
    padding: 0;
}