/* Global */
/* ------------------------------------ */
@import "global/fonts.css";
@import "global/reboot.css";
@import "global/container.css";
@import "global/visually-hidden.css";

/* Blocks */
/* ------------------------------------ */
@import "blocks/header.css";
@import "blocks/order-form.css";
@import "blocks/custom-input.css";
@import "blocks/btn.css";
@import "blocks/problems-logging.css";
@import "blocks/custom-radio.css";
@import "blocks/custom-checkbox.css";
@import "blocks/registration-page.css";
@import "blocks/form-info.css";
@import "blocks/footer.css";